@{
    ViewBag.Title = "Danh sách tài khoan";
}

<div class="element-wrapper" data-ng-controller="controller">
    <script>
        app.controller("controller", ['$scope', '$rootScope', '$http', function ($scope, $rootScope, $http) {
             AddData = function () {
                $scope.User = {};
            }
            
            EditData = function(id) {
                $scope.User = {};
                $scope.User.Id = id;
                console.log($scope.User);
            }
            DeleteData = function (id) {
                console.log(id);
            }
            $(document).ready(function () {

                $("#showSearch").click(function () {

                    $("#searchPanel").fadeToggle("slow");
                    $("#plush").toggle();
                    $("#minus").toggle();
                });
                $scope.LoadUser();
          
            });
            $scope.LoadUser = function () {
                     var table = $("#gridUser").DataTable({
                    // Hàm mặc định set màu cho row
                    //"createdRow": function (row, data, dataIndex) {
                    //    //if ( data.tenthuoctinh == "giatri" ) {
                    //    //    $(row).addClass('tenclass');
                    //    //}
                    //},
                    // sau khi load, callback lại sự kiện, set theo điều kiên nếu cần
                    // vd nếu id = 12 thì màu đỏ, ngược lại thì màu cam
                    //"rowCallback": function (row, data, index) {
                    //    if (data.Id == 12) {
                    //        $('td', row).css('background-color', 'Red');
                    //    }
                    //    else {
                    //        $('td', row).css('background-color', 'Orange');
                    //    }
                    //},
                    // ngôn ngữ, hiện ảnh gif khi load ajax, thông báo khi result rỗng
                    "language": {
                        "processing": "<img src='/Content/themes/img/Interwind-1s-200px.gif'> Loading...",
                        "emptyTable": "Dữ liệu trống..."
                    },
                    "autoWidth": true,
                    "tabIndex": 2,
                    "responsive": true,
                    "stateSave": true,
                    "processing": true, //  show progress bar
                    "serverSide": true, //  process server side
                    "filter": true, //  (search box)
                    "orderMulti": false, // multiple column at once
                    "pageLength": 10, //số bảng ghi trên lưới
                    "ajax": {
                        "url": "/AppUser/GetAllAppUser",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            // data lấy từ các control input nếu có
                            "user_id": 451
                        }
                    },

                    "columnDefs":
                        [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [7],
                            "searchable": false,
                            "orderable": false
                        },
                        {
                            "targets": [8],
                            "searchable": false,
                            "orderable": false
                        },
                        { "responsivePriority": 0, "targets": 0 }
                        ],

                    "columns": [
                        { "data": "Id", "name": "Id"},
                        { "data": "UserName", "title": "Tên đăng nhập", "name": "UserName"},
                        { "data": "Name", "name": "Name"},
                        {
                            "data": "DateOfBirth", "name": "DateOfBirth",
                            // sau khi đọc dữ liệu trường dateofbirth, render lại , format theo định dạng mong muốn, sử dụng momentjs
                            render: function (data, type, row) {
                                if (type === "sort" || type === "type") {
                                    return data;
                                }
                                return moment(data).format("DD/MM/YYYY");
                            }
                        },
                        { "data": "Email", "name": "Email"},
                        { "data": "Phone", "name": "Phone" },
                        { "data": "Address", "name": "Address" },
                        { "data": "AppGroupUserName", "name": "AppGroupUserName", "title": "Nhóm tài khoản" },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a class="btn btn-info" onclick=EditData("'+ full.Id +'");><i class="fa fa-pencil"></i></a>' +
                                    "<a class='btn btn-danger' onclick=DeleteData('" + full.Id + "'); ><i class='fa fa-trash-o'></i></a>";
                            }
                        }
                    ]

                });
                new $.fn.dataTable.FixedHeader(table);
               

            }
          
        }])


    </script>
    <div class="element-box">
        <form>
            <div class="form-desc">
                Tìm kiếm
                <div class="btn btn-success btn-rounded btn-sm" id="showSearch">
                    <i class="fa fa-caret-down" id="plush"></i>
                    <i class="fa fa-caret-up" id="minus" style="display:none"></i>
                </div>
                <button class="btn btn-success btn-rounded btn-sm float-right" data-target="#exampleModal1" data-toggle="modal" type="button">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </button>
                <div id="searchPanel" style="display:none">
                    sdsd
                </div>

                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal1" role="dialog" tabindex="-1" data-backdrop="true" data-keyboard="false">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Modal title
                                </h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> &times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for=""> Email address</label><input class="form-control" placeholder="Enter email" type="email">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Password</label><input class="form-control" placeholder="Password" type="password">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Confirm Password</label><input class="form-control" placeholder="Password" type="password">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary btn-rounded btn-sm" data-dismiss="modal" type="button"><i class="fa fa-times"></i> Close</button>
                                <button class="btn btn-success btn-rounded btn-sm" type="button"> <i class="fa fa-save"></i> Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="table-responsive">
                <table id="gridUser" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th style="width:100px">Tên đăng nhập</th>
                            <th>Họ tên</th>
                            <th style="width:100px">Ngày sinh</th>
                            <th style="width:50px">Email</th>
                            <th>Điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Nhóm tài khoản</th>
                            <th>Action</th>

                        </tr>
                    </thead>

                </table>


            </div>
        </form>
    </div>
</div>
